# Build
/dist
/lib
/lib-types
/server

# Development
node_modules
*.local

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn
.yarn/*
!.yarn/releases
.env
.env.production
cloud-init
terraform.tfvars
# Local .terraform directory
.terraform/
# Override files
override.tf
override.tf.json
# .tfstate files (Terraform state files)
*.tfstate
*.tfstate.*

# Backup files
*.tfstate.backup

# Crash log files
crash.log

# Exclude Terraform plan files
*.tfplan

# Terraform variables file, containing sensitive information
terraform.tfvars
*.tfvars.json

# .terraform.lock.hcl (if you are using Terraform v0.14+)
.terraform.lock.hcl

# Ansible inventory files
inventory
# Ansible vault files
*.vault
infra/terraform/*.yaml

Makefile_old
create_gcloud.sh
/email-templates
/infra