@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-qestero: "qestero", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --font-inter: "Inter", "sans-serif";
}

@font-face {
  font-family: "qestero";
  src: url("/fonts/QESTERO-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "Aesthetic";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #F4F5F1;
  --color-base-200: #E1E4D6;
  --color-base-300: #D0D2C2;
  --color-base-content: #2E2E2C;
  --color-primary: #8B9687;
  --color-primary-content: #F1F4F1;
  --color-secondary: #6A7B8C;
  --color-secondary-content: #F4F7F9;
  --color-accent: #4CA3A2;
  --color-accent-content: #F9FBFA;
  --color-neutral: #D1D5D8;
  --color-neutral-content: #4A4F53;
  --color-info: #5A7F92;
  --color-info-content: #F1F6F8;
  --color-success: #6F8E56;
  --color-success-content: #E9F4D7;
  --color-warning: #F2A73D;
  --color-warning-content: #FFF9F0;
  --color-error: #D15556;
  --color-error-content: #FCE9E8;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

