@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-qestero: "qestero", "sans-serif";
	--font-montserrat: "Montserrat", "sans-serif";
	--font-inter: "Inter", "sans-serif";
}

@layer components {
	.custom-container {
		@apply container mx-auto px-4 md:px-16 lg:px-32 xl:px-48;
	}
}

@font-face {
	font-family: "qestero";
	src: url("/fonts/QESTERO-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

calendar-month {
	&::part(button) {
		border-radius: 0.5rem;
	}

	&::part(today) {
		background-color: #f4f5f1;
		color: #2e2e2c;
		border-style: dashed;
		border-width: 1px;
	}

	&::part(selected) {
		background-color: #6a7b8c;
		color: #f4f5f1;
	}
}

@keyframes colorPulse {
	0%,
	100% {
		color: oklch(65.6% 0.241 354.308);
	}
	50% {
		color: oklch(57.7% 0.245 27.325);
	}
}
.animate-color-pulse {
	animation: colorPulse 5s infinite;
}

@plugin "daisyui";

@plugin "daisyui/theme" {
	/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
	name: "Aesthetic";
	/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
	default: true;
	/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
	prefersdark: true;
	color-scheme: "light";
	--color-base-100: #f4f5f1;
	--color-base-200: #e1e4d6;
	--color-base-300: #d0d2c2;
	--color-base-content: #2e2e2c;
	--color-primary: #8b9687;
	--color-primary-content: #f1f4f1;
	--color-secondary: #6a7b8c;
	--color-secondary-content: #f4f7f9;
	--color-accent: #4ca3a2;
	--color-accent-content: #f9fbfa;
	--color-neutral: #d1d5d8;
	--color-neutral-content: #4a4f53;
	--color-info: #5a7f92;
	--color-info-content: #f1f6f8;
	--color-success: #6f8e56;
	--color-success-content: #e9f4d7;
	--color-warning: #f2a73d;
	--color-warning-content: #fff9f0;
	--color-error: #d15556;
	--color-error-content: #fce9e8;
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.21875rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
